* {
    box-sizing: border-box;
}

.header {
    height: 240px;
    display: flex;
    padding-left: 20%;
}

.creative {
    width: 50%;
    height: 50%;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}


.who {
    width: 300px;
    height: 87px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.who p {
    font-weight: 400;
}

.piccontainer {
    height: fit-content;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
}

.pic {
    width: 30%;
    height: 470px;
}

.pic1 {
    margin-top: 10px;
    margin-right: 5%;
}

.photoandprofile {
    width: 100%;
    height: 80%;
    display: flex;
}

.photo {
    width: 90%;
    height: 100%;
}

.profile {
    width: 10%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.name {
    width: 100%;
    height: 20%;
}

.namepara {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}

.profilename {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    writing-mode: vertical-lr;
}

.pic2 {
    margin-right: 5%;
    margin-top: 8%;
}

.pic3 {
    height: 470px;
    margin-top: 10px;
}

.pic4 {
    margin-right: 5%;
    margin-top: 80px;
}

.pic5 {
    margin-right: 5%;
    margin-top: 110px;
}

.pic6 {
    margin-top: 80px;
}

.footer {
    width: 60%;
    margin-left: 20%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 40px;
    color: #A9A9A9;

}


@media only screen and (max-width: 1330px) {
    .pic {
        width: 45%;
    }

    .pic1,
    .pic3,
    .pic5 {
        margin-right: 5%;
    }

    .pic5 {
        margin-top: 0px;
    }

    .pic6 {
        margin-top: 50px;
    }

}


@media only screen and (max-width: 840px) {
    .piccontainer {
        margin-left: 0px;
        width: 100%;
    }

    .pic {
        width: 45%;
    }

    .header {
        padding-left: 0px;
    }

    .footer {
        width: 100%;
        margin-left: 0%;
    }



}

@media only screen and (max-width: 610px) {
    .header {
        padding-left: 10px;
        flex-direction: column;
    }

    .pic{
        height: 300px;
    }

    .pic1,
    .pic3,
    .pic5 {
        margin-right: 5%;
    }

    .pic2,
    .pic4,
    .pic6 {
        margin-right: 0%;
    }

    .piccontainer {
        margin-top: 40px;
    }

    .creative {
        width: 100%;
        height: 30%;
        font-size: 36px;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
        margin-bottom: 50px;
    }

    .who {
        width: 100%;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

    }

    .who p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
}

::-webkit-scrollbar {
    display: none;
}